---
import Layout from "../layouts/Layout.astro";
import avatarImg from "../assets/avatar-600.jpg";
import JobListings from "../components/job-listings.astro";
import BlogPosts, { PostFrontmatter } from "../components/blog-posts.astro";
import classNames from "classnames";
import { pageSectionCss } from "../styles/page-section.css";
import { stackCss } from "../styles/spacing.css";
import { headingTextCss } from "../components/home-page.css";
import { textCss } from "../styles/text.css";
import {
  avatarCss,
  headingTheme,
  nameHighlightCss,
} from "../layouts/index-header.css";

const posts = (await Astro.glob<PostFrontmatter>("./post/*.mdx"))
  .filter((p) => !p.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).getTime() -
      new Date(a.frontmatter.date).getTime()
  )
  .slice(0, 5);
---

<Layout title="Omar Diab">
  <article class={stackCss({ gap: "xxl" })}>
    <header
      class={classNames(headingTheme, pageSectionCss, stackCss({ gap: "l" }))}
    >
      <div
        class={stackCss({
          gap: "m",
          alignItems: "center",
          flexDirection: "row",
        })}
      >
        <img class={avatarCss} src={avatarImg} alt="Portrait of Omar Diab" />

        <h1 class={headingTextCss}>
          Hi, I&rsquo;m <b class={nameHighlightCss}>Omar Diab</b>
        </h1>
      </div>
      <h2
        class={classNames(
          textCss({ weight: "normal", size: "xl" }),
          headingTextCss
        )}
      >
        I design simple, powerful, and maintainable products and build teams to
        ensure their success.
      </h2>
    </header>

    {
      posts.length > 0 && (
        <section
          id="recent-posts"
          class={classNames(pageSectionCss, stackCss({ gap: "m" }))}
        >
          <h2>Recent Posts</h2>
          <BlogPosts posts={posts} />
        </section>
      )
    }

    <section
      id="work-history"
      class={classNames(pageSectionCss, stackCss({ gap: "m" }))}
    >
      <h2>Work History</h2>
      <JobListings />
    </section>
  </article>
</Layout>
