---
import type { MarkdownInstance } from "astro";
import { IoArrowForward } from "react-icons/io5";
import {
  postListCss,
  postMetadataCss,
  postPreviewCss,
  postTimestampCss,
  viewPostLinkCss,
} from "./blog-posts.css";
import { Link } from "./link";

export interface PostFrontmatter {
  title: string;
  description: string;
  date: string;
  tags?: string[];
  draft?: boolean;
}

export interface Props {
  posts: MarkdownInstance<PostFrontmatter>[];
}
const { posts } = Astro.props as Props;
---

<ul class={postListCss}>
  {
    posts.map(({ url, frontmatter: { title, description, date } }) => (
      <li>
        <article class={postPreviewCss}>
          <h3>{title}</h3>
          <p>{description}</p>
          <aside class={postMetadataCss}>
            <Link href={url}>
              <IoArrowForward slot="prefix" />
              Read More
            </Link>
            <time class={postTimestampCss} datetime={date}>
              {new Intl.DateTimeFormat("en", { dateStyle: "medium" }).format(
                new Date(date)
              )}
            </time>
          </aside>
          <a href={url} class={viewPostLinkCss}>
            View post
          </a>
        </article>
      </li>
    ))
  }
</ul>
