---
import { palette } from "../styles/palette";
import { Link } from "./link";
import { compositionCss } from "../styles/composition";
import { spacing, stackCss } from "../styles/spacing";
import { css } from "@stitches/react";
import { boldCss, textSizeCss } from "../styles/text";

export interface Props {
  jobTitle: string;
  timeAtJob: string;
  companyName: string;
  companyTagline: string;
  companyUrl?: string;
}
const props = Astro.props as Props;
---

<article class={css(stackCss({ gap: spacing.l }))()}>
  <header class={css(stackCss({ gap: spacing.m }))()}>
    <hgroup class={css(stackCss({ gap: spacing.s }))()}>
      <h3 class={css(textSizeCss.m, boldCss)()}>
        {
          props.companyUrl ? (
            <Link href={props.companyUrl}>{props.companyName}</Link>
          ) : (
            props.companyName
          )
        }
      </h3>
      <h4>{props.companyTagline}</h4>
    </hgroup>
    <dl
      class={css({
        display: "grid",
        gridTemplateColumns: "1fr 1fr",
        gap: spacing.xs,
        "& > div": {
          ...stackCss({ gap: spacing.xxs }),
          color: palette.secondaryText,
          "& > dt": boldCss,
        },
      })()}
    >
      <div>
        <dt>Title</dt>
        <dd>{props.jobTitle}</dd>
      </div>
      <div>
        <dt>Time</dt>
        <dd>{props.timeAtJob}</dd>
      </div>
    </dl>
  </header>
  <section class={css(compositionCss)()}><slot /></section>
</article>
