---
import { hyperlinkCss } from "../styles/hyperlink";
import { pageSection } from "../styles/page-section";
---

<footer>
  <section id="contact" class={pageSection()}>
    <h2>Get in touch</h2>
    <p>
      Feel free to{" "}
      <a class={hyperlinkCss()} href="mailto:hello@omardiab.com"
        >shoot me an email</a
      >
      {" or "}
      <a class={hyperlinkCss()} href="https://linkedin.com/in/osdiab"
        >check my LinkedIn</a
      >.
    </p>
  </section>
  <section id="fork-github" class={pageSection()}>
    <p>
      Like this site? Feel free to{" "}
      <a class={hyperlinkCss()} href="https://github.com/osdiab/omardiab.com">
        fork it on Github</a
      >{" "}
      and make it your own.
    </p>
    <p>Omar Diab, {new Date().getFullYear()}</p>
  </section>
</footer>

<style lang="scss">
  footer {
    display: flex;
    flex-direction: column;
    #contact {
      padding-bottom: 2rem;
      align-self: flex-start;

      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    #fork-github {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 2rem;
    }
  }
</style>
