---
import classNames from "classnames";
import { Link } from "../components/link";
import { pageSectionCss } from "../styles/page-section.css";
import { stackCss } from "../styles/spacing.css";
import { headerCss, headerNavCss, headerTitleCss } from "./header.css";

interface NavItem {
  title: string;
  url: string;
}
const navItems: NavItem[] = [
  { title: "Recent Posts", url: "/#recent-posts" },
  { title: "Work History", url: "/#work-history" },
];
---

<header class={headerCss}>
  <div
    class={classNames(
      pageSectionCss,
      stackCss({ gap: "l", flexDirection: "row", alignItems: "center" })
    )}
  >
    <a class={headerTitleCss} href="/">Omar Diab</a>
    <nav class={headerNavCss}>
      {navItems.map(({ title, url }) => <Link href={url}>{title}</Link>)}
    </nav>
  </div>
</header>
